:root {
    --cor-primaria: #0000FF;
    --cor-secundaria: #219B9D;
    --background-color: #f0f4ff;
    --cor-texto: #1a237e;
    --cor-borda: rgba(0, 0, 255, 0.1);
    --sombra-suave: 0 4px 6px rgba(0, 0, 0, 0.05);
    --sombra-destaque: 0 8px 15px rgba(0, 0, 255, 0.1);
    --fonte: 'Lato', sans-serif;
} 